<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer__row">
                <div class="text">
                    <h3>wanna collaborate?</h3>
                    <a href="mailto:hello@damnn.tv" class="footer-mail">hello@damnn.tv</a>
                </div>
               
            </div>
            <h4>damnn!ⓒ <span class="copy-year"></span> <a href="mailto:info@damnn.tv">info@damnn.tv</a></h4>
            <div class="footer-nav">
                <div class="nav-box">
                    <a href="#">vimeo</a>
                    <a href="#">instagram</a>
                </div>
                <div class="nav-box">
                    <a href="/policy">policy</a>
                    <a href="/terms">terms</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<a href="#" class="topup">
    <img src="img/top-up.svg" alt="">
</a>
